<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/insertar.css') }}">

</head>
<body>

    <!-- Menú de navegación -->
    <nav>
        <ul>
            <li><a href="/insertar">Insertar calificación</a></li>
            <li><a href="/consultar">Consultar Lcalificación</a></li>
            <li><a href="/actualizar">Actualizar calificación</a></li>
            <li><a href="/borrar">Eliminar calificación</a></li>
        </ul>
    </nav>    

    <!-- Contenido principal -->
    <div class="container">
        <h1>Bienvenido al sistema de gestión de lugares</h1>
        <p>Selecciona una opción del menú para comenzar.</p>
    </div>

</body>
</html>
